/* Visų elementų selektorius: */
* {
    box-sizing: border-box;
}
html {
    --primary-text-color: #6c757d; 
}
body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    color: var(--primary-text-color);
    line-height: 1.5;
}
a {
    text-decoration: none;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.container {
    /* calc() funkcija skirta atlikti artimetiniams veiksmams: sudėtis, atimtis, daugyba dalyba; */
    /* max-width: calc(1140px - 30px);
    width: calc(100% - 30px); */
    /* daugyba: */
    /* width: calc(100% * 2); */
    /* dalyba */
    /* width: calc(100% / 2); */
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    padding: 0 12px;
}
.row {
    display: flex;
    gap: 30px;
}
.col-1 {
    width: 8.333333333333333%;
}
.col-2 {
    width: 16.66666666666667%;
}
.col-3 {
    width: 25%;
}
.col-4 {
    width: 33.33333333333333%;
}
.col-5 {
    width: 41.66666666666667%;
}
.col-6 {
    width: 50%;
}
.col-7 {
    width: 58.33333333333333%;
}
.col-8 {
    width: 66.66666666666667%;
}
.col-9 {
    width: 75%;
}
.col-10 {
    width: 83.33333333333333%;
}
.col-11 {
    width: 91.66666666666667%;
}
.col-12 {
    width: 100%;
}

img {
    max-width: 100%;
}

p {
    line-height: 1.7;
}

header {
    position: absolute;
    width: 100%;
    padding: 28px 0;
}

header .container {
    display: flex;
    justify-content: space-between;
}

header nav ul {
    display: flex;
    gap: 35px;
}

header nav a {
    color: var(--primary-text-color);
    font-size: 15px;
    padding: 10px 0;
}

header nav a.active {
    color: #1ce1ac;
    position: relative;
}

header nav a.active::after {
    content: "";
    width: 60%;
    height: 2px;
    background-color: #1ce1ac;
    position: absolute;
    bottom: 0;
    left: calc((100% - 60%) / 2);
}

#home {
    background: url(../images/hero-bg.png) no-repeat top right / cover;
}

#home .container {
    padding-top: 230px;
}

#home .discount {
    padding: 5px 10px;
    background-color: #f8f9fa;
    border: 1px solid #eceff2;
    border-radius: 3px;
}

#home .green {
    color: #1ce1ac;
}

#home h1 {
    color: #343a40;
    font-size: 60px;
    line-height: 1.25;
    margin: 20px 0 0;
}

#home p {
    font-size: 17px;
}

#home .buttons {
    display: flex;
    gap: 20px;
    padding-top: 30px;
}

#home .buttons .button {
    background: rgb(27,212,162);
    background: linear-gradient(90deg, rgba(27,212,162,1) 0%, rgba(139,241,214,1) 100%);
    color: white;
    border-radius: 25px;
    padding: 10px 25px;
    display: block;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
}

#home .buttons .demo {
    color: #536976;
    display: flex;
    align-items: center;
    gap: 10px;
}

#home .buttons .demo i {
    font-size: 30px;
}

#home .clients {
    padding: 140px 0 100px;
}
#home .clients ul {
    display: flex;
    justify-content: space-around;
}

#home .clients img {
    height: 38px;
}