.card {
    border-bottom: 1px solid rgb(195, 195, 195);
    padding: 0 0 2rem;
    margin: 0 0 2rem;
}

.card .profile {
    padding: 0 0 1rem;
}

.card .profile img {
    max-width: 40px;
    border-radius: 50%;
    margin-right: .8rem;
}

.card .profile .info .user {
    font-weight: 600;
}

.card .profile .info .location {
    font-size: 14px;
}

.card .description {
    padding: 1rem 0 0;
}

.card .resources {
    width: 630px;
    overflow: hidden;
    position: relative;
}

.card .resourcesList {
    display: flex;
    transition: transform .5s ease-in-out;
}

.card .resourcesList .item {
    flex: 0 0 630px;
}

.card .resourcesPagination {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 5px;
}

.card .resourcesPagination .item {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.685);
    cursor: pointer;
}

.card video {
    max-width: 100%;
}